<div class="container">

  <div class="row">

    <div class="col-md-12">
          <br>
          <br>
          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}
          <br>
          <br>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-md-6">
        Level 2: .col-8 .col-md-6
      </div>
      <div class="col-4 col-md-6">
        Level 2: .col-4 .col-md-6
      </div>
    </div>
  </div>
</div>
      <div class="row justify-content-center">
        <div class="col-4">
            <p>
              {% if site.description != '' %}
              {{site.description}}
              {% endif %}
                  <br>
                  <br>
              {% if site.thesis != '' %}
              {{site.thesis}}
              {% endif %}
            </p>
        </div>
        <div class="col-4">
          <div class="image">
          <img src="/imgs/me_photo.jpeg" style="float:right;width:200px;height:350px;padding:50px,50px,50px;">
            <p>connie.ting@mail.mcgill.ca</p>
          </div>
        </div>
      </div>
    
        

  <div class="row">
    
      <div class="hero-container">

        <div class="hero-content">
   
          <div class="hero-buttons">
          
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg fa-fw"></i></button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg fa-fw"></i></button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg fa-fw"></i></button></a>
            {% endif %}
            {% if email != '' %}
              <a href="mailto:{{ site.email }}"><button class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-lg fa-fw""></i></button></a>
            {% endif %}
            
              <p class="text-center">
                {% if site.enable_contact == true %}
                {% include contact.html %}
                {% include contact-modal.html %}
                {% endif %}
              </p>
            
          </div> 
          
        </div>

      </div>

    </div>



</div>
